<div class="col-lg-4 col-md-4 col-sm-12 col-xs-6">
  <h2>¿Quienes somos los Ruby gnomes?</h2>
  <p class="text-left">
    A los Gnomos nos gusta ayudar, le terminamos los zapatos al zapatero que no llegaba y salvamos a Blancanieves, y ahora además os traemos una herramienta para que podáis organizar vuestros viajes. Sentíos libres de usarla como mas os guste y de compartir vuestras opiniones con nosotros.
  </p>
  <p class="text-left">
    Y si además queréis ver otras cosas que hemos hecho, visitad nuestra pagina.
  </p>
  <a href="http://www.rubygnomes.com"><strong>Ruby Gnomes</strong></a>
</div>
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-6">
  <div class="col-lg-12">
    <%= image_tag("logognomes.png", size: "600x150", class: "img-responsive" ) %>
  </div>
  <div class="col-lg-12">
    <%= image_tag("team-gnomes.png", size: "600x300", class: "img-responsive") %>
  </div>
</div>
