
<div class="col-lg-3">
  <h3>¿Qué es Carmelo?</h3>
  <p>
    Es una herramienta que te ayudará a organizar tus viajes con amigos o gente nueva, no importa si es una excursión al campo o un concierto de Julio Iglesias. Con Carmelo podrás decidir tu destino, trazar cada uno de los trayectos, y permitir que nuevos acompañantes se sumen en cualquier momento.
  </p>
</div>

<div class="col-lg-3">
  <h3>¿Con quien puedo compartirlo?</h3>
  <p>
    No solo tendrás las herramientas para saber cuánto te va a costar, o cuanto tiempo puedes invertir en cada lugar. También recibirás las recomendaciones de guías locales y de otros viajeros que hayan pasado por allí, la ayuda para encontrar alojamientos o restaurantes y la posibilidad de compartir con todo el mundo tus experiencias.
  </p>
</div>

<div class="col-lg-3">
  <h3>¿Cuanto cuesta/Puedo ayudar?</h3>
  <p>
    Queremos que Carmelo sea gratis de por vida, así que trataremos de poner algo de publicidad y de crear una manera de que todos podamos ganar sin tener que gastar nada.
  </p>
</div>

<div class="col-lg-3">
  <h3>¿Puedo ayudar?</h3>
  <p>
    Os invitamos a mandarnos nuevas ideas y sugerencias para poder mantenerlo así y que todos disfrutemos organizando nuestros viajes.
  </p>
</div>

