<div class="col-lg-12 text-center">
  <div class="col-lg-8 col-lg-offset-2">
  <div class="carmelo-body">
    <h1 class="block">Registrate para usar</h1>
    <%= image_tag("logo-black.png", size: "600x250", class: "logo-responsive") %>
    <h4 class="text-center">¡Organiza tus viajes con amigos!</h4>
    <a href="/users/auth/facebook">
      <%= image_tag("facebook-login.png", size: "400x100" , class: "btn-responsive", id: "button-facebook") %>
    </a>
  </div>
  </div>
</div>