<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Contacto </h3>
          <ul>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
          <h3> Idiomas </h3>
          <ul>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
          </ul>
        </div>
        <div class="col-lg-4  col-md-2 col-sm-4 col-xs-6">
          <h3> Terminos de uso </h3>
          <ul>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
            <li> <a href="#"> Lorem Ipsum </a> </li>
          </ul>
        </div>
        <div class="col-lg-4  col-md-3 col-sm-6 col-xs-12 ">
          <h3> Inscribite al boletin </h3>
          <ul>
            <li>
              <div class="input-append newsletter-box text-center">
                <input type="text" class="full text-center" placeholder="Introduzca su direccion de correo ">
                <button class="btn  bg-gray" type="button"> Suscribirse! <i class="fa fa-long-arrow-right"> </i> </button>
              </div>
            </li>
          </ul>
          <ul class="social">
            <li id="social-fb"> <a href="https://www.facebook.com/rubygnomes/"> <i class=" fa fa-facebook">   </i> </a> </li>
            <li id="social-tw"> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
            <li id="social-li"> <a href="https://www.linkedin.com/company-beta/16267264/"> <i class="fa fa-linkedin">   </i> </a> </li>
            <li id="social-dia"> <a href="http://rubygnomes.com/"> <i class="fa fa-diamond">   </i> </a> </li>
          </ul>
        </div>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </div>
  <!--/.footer-->

  <div class="footer-bottom">
    <div class="container">
      <p class="pull-left"> Copyright © RubyGnomes 2017. All right reserved. </p>
      <div class="pull-right">
        <ul class="nav nav-pills payments">
          <li><i class="fa fa-cc-visa"></i></li>
          <li><i class="fa fa-cc-mastercard"></i></li>
          <li><i class="fa fa-cc-amex"></i></li>
          <li><i class="fa fa-cc-paypal"></i></li>
        </ul>
      </div>
    </div>
  </div>
  <!--/.footer-bottom-->
</footer>