<div class="container" id="carmelo-body">
    <div class="col-lg-4">
      <%= render partial: "dashboards/columns/column-left" %>
    </div>
    <div class="col-lg-8">
      <%= render partial: "dashboards/columns/column-center" %>
    </div>
  </div>