<%= form_for(current_user.active_relationships.build) do |f| %>
  <div><%= hidden_field_tag :trip_id, trip_id %></div>
  <%= f.submit "Subscribirme", class: "btn btn-success text-uppercase" %>
<% end %>